
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myMyUserLabel">Utwórz bądź zmień a My User</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.myUser.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.myUser.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_username">Username</label>
            <input type="text" class="form-control" name="username" id="field_username"
                    ng-model="vm.myUser.username"
                    required/>
            <div ng-show="editForm.username.$invalid">
                <p class="help-block"
                    ng-show="editForm.username.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Imię</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.myUser.name"
                    required/>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_surname">Nazwisko</label>
            <input type="text" class="form-control" name="surname" id="field_surname"
                    ng-model="vm.myUser.surname"
                    required/>
            <div ng-show="editForm.surname.$invalid">
                <p class="help-block"
                    ng-show="editForm.surname.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_documentType">Document Type</label>
            <input type="text" class="form-control" name="documentType" id="field_documentType"
                    ng-model="vm.myUser.documentType"
                    required/>
            <div ng-show="editForm.documentType.$invalid">
                <p class="help-block"
                    ng-show="editForm.documentType.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_documentNr">Document Nr</label>
            <input type="text" class="form-control" name="documentNr" id="field_documentNr"
                    ng-model="vm.myUser.documentNr"
                    required/>
            <div ng-show="editForm.documentNr.$invalid">
                <p class="help-block"
                    ng-show="editForm.documentNr.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                    ng-model="vm.myUser.email"
                    required ng-pattern="/^[^@\s]+@[^@\s]+\.[^@\s]+$/"/>
            <div ng-show="editForm.email.$invalid">
                <p class="help-block"
                    ng-show="editForm.email.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.email.$error.pattern" translate-value-pattern="Email">
                    This field should follow pattern for "Email".
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_birthdate">Birthdate</label>
                <div class="input-group">
                    <input id="field_birthdate" type="text" class="form-control" name="birthdate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.myUser.birthdate" is-open="vm.datePickerOpenStatus.birthdate"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('birthdate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.birthdate.$invalid">
                <p class="help-block"
                    ng-show="editForm.birthdate.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_pesel">Pesel</label>
            <input type="text" class="form-control" name="pesel" id="field_pesel"
                    ng-model="vm.myUser.pesel"
                    required ng-minlength="11" ng-maxlength="11"/>
            <div ng-show="editForm.pesel.$invalid">
                <p class="help-block"
                    ng-show="editForm.pesel.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.pesel.$error.minlength" translate-value-min="11">
                    This field is required to be at least 11 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.pesel.$error.maxlength">
                    This field cannot be longer than 11 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_myGroup">My Group</label>
            <select class="form-control" id="field_myGroup" name="myGroup" ng-model="vm.myUser.myGroup" ng-options="myGroup as myGroup.id for myGroup in vm.mygroups track by myGroup.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_electoralDistrict">Electoral District</label>
            <select class="form-control" id="field_electoralDistrict" name="electoralDistrict" ng-model="vm.myUser.electoralDistrict" ng-options="electoralDistrict as electoralDistrict.id for electoralDistrict in vm.electoraldistricts track by electoralDistrict.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_municipality">Okręg Wyborczy</label>
            <select class="form-control" id="field_municipality" name="municipality" ng-model="vm.myUser.municipality" ng-options="municipality as municipality.id for municipality in vm.municipalities track by municipality.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
