
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myMyUserLabel">Utwórz bądz zmień użytkownika</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="control-label" for="field_username">Login</label>
            <input type="text" class="form-control" name="username" id="field_username"
                    value={{vm.generateUsername()}}
                    required disabled/>
            <div ng-show="editForm.username.$invalid">
                <p class="help-block"
                    ng-show="editForm.username.$error.required">
                    Pole jest wymagane.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Imię</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.myUser.name"
                    required/>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required">
                    Pole jest wymagane.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_surname">Nazwisko</label>
            <input type="text" class="form-control" name="surname" id="field_surname"
                    ng-model="vm.myUser.surname"
                    required/>
            <div ng-show="editForm.surname.$invalid">
                <p class="help-block"
                    ng-show="editForm.surname.$error.required">
                    Pole jest wymagane.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_documentType">Rodzaj dokumentu</label>
            <input type="text" class="form-control" name="documentType" id="field_documentType"
                    ng-model="vm.myUser.documentType"
                    required/>
            <div ng-show="editForm.documentType.$invalid">
                <p class="help-block"
                    ng-show="editForm.documentType.$error.required">
                    Pole jest wymagane.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_documentNr">Numer dokumentu</label>
            <input type="text" class="form-control" name="documentNr" id="field_documentNr"
                    ng-model="vm.myUser.documentNr"
                    required/>
            <div ng-show="editForm.documentNr.$invalid">
                <p class="help-block"
                    ng-show="editForm.documentNr.$error.required">
                    Pole jest wymagane.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_email">Email</label>
            <input type="email" class="form-control" name="email" id="field_email"
                    ng-model="vm.myUser.email"
                    required/>
            <div ng-show="editForm.email.$invalid">
                <p class="help-block"
                    ng-show="editForm.email.$error.required">
                    Pole jest wymagane.
                </p>
                <p class="help-block"
                    ng-show="editForm.email.$error.email" >
                    Błędny adres e-mail
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_birthdate">Data urodzenia</label>
                <div class="input-group">
                    <input id="field_birthdate" type="date" class="form-control" name="birthdate"
                           uib-datepicker-popup="{{dateformat}}"
                           ng-model="vm.myUser.birthdate"
                           is-open="vm.datePickerOpenStatus.birthdate"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('birthdate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.birthdate.$invalid">
                <p class="help-block"
                    ng-show="editForm.birthdate.$error.required">
                    Pole jest wymagane.
                </p>
                <p class="help-block"
                   ng-show="editForm.birthdate.$error.date">
                    Data jest w złym formacie
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_pesel">Pesel</label>
            <input type="text" class="form-control" name="pesel" id="field_pesel"
                    ng-model="vm.myUser.pesel"
                    required pattern="^\d{11}"/>
            <div ng-show="editForm.pesel.$invalid">
                <p class="help-block"
                    ng-show="editForm.pesel.$error.required">
                    Pole jest wymagane.
                </p>
                <p class="help-block"
                    ng-show="editForm.pesel.$error.pattern">
                    PESEL ma mieć 11 cyfr
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_role">Rola</label>
            <select class="form-control" id="field_role" name="role" ng-model="vm.myUser.role"
                    ng-options="role as role.name for role in vm.roles track by role.code"
                    ng-init="vm.myUser.role = vm.initRole"
                    required>
            </select>
            <div ng-show="editForm.role.$invalid">
                <p class="help-block"
                    ng-show="editForm.role.$error.required">
                    Pole jest wymagane.
                </p>
            </div>
        </div>

        <div class="form-group" ng-hide="vm.presetMunicipality && ! vm.presetElectoralDistrict">
            <label for="field_electoralDistrict">Okręg wyborczy</label>
            <select class="form-control" id="field_electoralDistrict" name="electoralDistrict" ng-model="vm.myUser.electoralDistrict"
                    ng-options="electoralDistrict as electoralDistrict.electoral_district_name for electoralDistrict in vm.electoraldistricts
                     | filter:{municipality:{id:vm.myUser.municipality.municipality_id}}:true track by electoralDistrict.electoral_district_id"
                    ng-hide="vm.presetMunicipality">
            </select>
            <select class="form-control" id="field_electoralDistrict_preset" name="electoralDistrict"
                    ng-show="vm.presetElectoralDistrict" disabled>
                <option value={{vm.myUser.electoralDistrict.electoral_district_id}}>{{vm.myUser.electoralDistrict.electoral_district_name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_municipality">Gmina</label>
            <select class="form-control" id="field_municipality" name="municipality" ng-model="vm.myUser.municipality"
                    ng-options="municipality as municipality.municipality_name for municipality in vm.municipalities track by municipality.municipality_id"
                    ng-hide="vm.presetMunicipality">
                <option value=""></option>
            </select>
            <select class="form-control" id="field_municipality_preset" name="municipality"
                    ng-show="vm.presetMunicipality" disabled>
                <option value={{vm.myUser.municipality.municipality_id}}>{{vm.myUser.municipality.municipality_name}}</option> </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Anuluj</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Zapisz</span>
        </button>
    </div>
    <jhi-alert-error></jhi-alert-error>
</form>
