# basic settings
sudo: required
language: java
services:
- docker

# global environment vars. Encrypted with RSA, so only TravisCI can read them.
env:
  global:
  - secure: WYf9zDZ7VvG0qMBukGSBsIscJldimO4QgCbdxmAvRfxRfQhjhLwrR32CccDxXV2bfH9vAObKL1kYgcOdUcnr/+hidCWEAXr97VwbLXFYQ1fUJOei/shY6jrU1rn6job4OznArvf7F0R+9XPTerS7ihXGEJaXbteHKUOpAF3vxcVuAzk3yi5ZkuUKa+zF+TqSDMNisUzXF2QpGE35qrkCe0YnX5RXYCLiBmMMmXtM3F2sFVOkSvG3IxB9vd3WrWkHf3Rh3yz/EhcYPtpeDKe2NpM027H9cHC/VK54M70lz54d1LrsXUos8kPG8IHwBubdUQzZam/Cc1gpt2JAChYfvXZShRrIUm0ZH5s9KPhE042drlFc7Q6gRgt3HldQ67g77igKfDXZhPcBPXZ3xJnLviC22IVmQbpQd6H6pK3DT1I7t9+BSduVnm6rMGohcANHetkRufo96QUPdLJybD8qiBAnqdBDPkPn2P9fSr2UhFqKTf9QbBycnj+kVcAldOksQWUuolGSv6xueEuZWdLrirjUbb65wapBhN8CbAwv1ua46xBs8+FxzDZqPx8t3yxxT7ghL+NYE7eWqZttckxKucvf9gEdzJtJslPVTRcoCbY+oOnHEWSM0R8G8mqGlzDuxT/0DqaseHSjj36SVJKrTYB2tJojMaXjfBx1dZxfgsg=
  - secure: LnS5yfgupLtQLF9LpatDg3meQiD1qo5zLZZIVZHp6bfeLunmuBW4kbJkIBN/KAerSx/WnQu6BQTSRu63dp4w8YnBH4NqHcafCOF9ocQ5YU5TjPDvO9d1099k5jD3gNEhy+hj0CuKJ94ojDdVVQjEdnJeDTs76P5WlXL5uIzLaBAxjIXaNjc8mEkoKD19tZxwpuyUhDYwvuYQWk6d46XKE8p4K04T5JqJQuxoFd/xZ/h1PPfyWny4J5OGh8Fpz7558Pf9q3JCxgMyhuasTCBf+ThAyFMgdWj8jADWUMeuOHXShW4gz/QFkVu33jLDS7kT+RHS8zSEkWMWEC62aOoHED/Nqafmp9O761QFobsKphLLfnWl5Cnbi26b5fzE6XILMYCsYi43kKP8WH7T7vBeKS77CGXAtZYqjStoaGvrXm5AvhP7GTQM2VqeZ7wetkq78XCTG0t4BiyXS+AU9qRlBafb34EmmdHaD2fkx4a8zoCrpqPmC+ldlmYdaIuaZ9eHUvr5eW5cMFkaq2JSdk/hnR046VnjSXqYvoR7jem04kriNiglXhK/58uax+AVlkRRPQ+NwBeMkoxeUxVZoM07n/lFSxWGbfR5N3OXiZedHt5gvcgeM8e49cdbkhaZzvT/10SF8hlIuzp+82MwDxXhs8V1uPDjjlAjRulQvgi1u/w=
  - secure: X4NS562AaSYVbn8pEc1MP+SDp9oXTNbE1qvLUlOIKsC3sdMy7OTye9uNd49PxWqvJEOmQl0VILiJYPzeL9ESksXJwG7+NudQ/TLGN07A/7yw+HUFvmR5yXtC4ZOTH9czOE948Rn8laeD8yxm4nHvcPNjL6hwP7WCdFNnyHu49gycJ3mELU1rNzjAcw/l1vSri49XVVSAGMLeMFyO3akxsUKTE5lA8jBjyPDJQrR6eKuROJSGaGHzOIwCj9AwV/Al6xzLjulhg1EplqtJgra6WaSMtFRd+//9hoBncrnC62uQ/mseZVmAlWLmGlfWdj8q95Mc+p/Z7BQ9Eem2ZsG3RlszHCCbofEtgNBHjnPdNgnqPq59NlDpdh3uuIYuCJEQqQnLPDWIHTP8xjc335oKNjF98k/Hu1dY4ITP2vYIYKd8yXx9Ojtjw+IxC6eaUsWhYVcAn+xWzOpfct8lkokSxW/mSItXrzDajhr6/vOvTqu/hqzlnPeEJeYr9wqVyiomlKgRiRbIjzJpIqEK8unxlrBxowvrCMpNV67Omsil4BMD5eA+3Zf/2LS4MIpBH7r8NOBzpBxUd5zmqKujxodEJTHWxsGw4taPqBwf6ZTGfKa3SOGwHksmLIMRZBH4Y1fBRhwlAiTSQ1JUEKA6MErJAqbZeP3EpodpoqwsiY3vJvc=
  - secure: FvNVFhS8wQopr2n/cMJLeswVrgLKSzxhYah1P4q0kLnGHC0T+6fvqZhX79TLNAzq0NgSb7X4bmlNLR0oMUB014+b2B1aFRzkGL+Ed0ppp17r9/10vXRK0jssSJojlV6LQv3kxy4CMD19AiQa6QH7q8wsw/zYnSKseib8uzDsXKkGjQXyUEVd4MG7KUIICuNTXBbeE4HWco7EaiOm9pUYJnrXp1JjgOVMrhbF5WHJbzIzNGoM4zkAlWcn7aHKYrC2dt3O7xR7oksI+4y+P+YNrCASXRQfgAqlAsmLiZ/wGNlFBTHecKMkwhJnwuzZQYw7SeDm3gn09rCleGDMG6aFndZv8yuYZYSGuKHRbrdcr6k7MujLsqlqUL4fr1WhG1Wgfzcb+c263I96qCISvMT+KJa3JoLknOSNklod9XKsq6hrizfdCfvzaZI7ykmDjOZ+Dus/XWRwuXFgXMQxDRPKQJrf5v8/CmWiVa/KGFdQ/KWSPL4IAxKhWRUzfw8bOoR3xKu8z8NMC53BETWh2u8beW+Lk2An7Df+yJ//upaWGnuUw2bf8a+hddDqJz0YLHySflOMoECZGgnuR1a3driEQbczvxxo5p7/JYmYkrHMtxVDdYYWWDENdO55XXu7Ljc3eemZcO1/mk1ezv+5UK8ofhC+anPyLYOAcJ7+ihVBaUc=

# before build, decrypt encrypted data
before_install:
- openssl aes-256-cbc -K $encrypted_cd86557fd1a3_key -iv $encrypted_cd86557fd1a3_iv -in key.tar.enc -out key.tar -d
- tar xvf key.tar

# invoke build.sh script to build all services and generate docker-compose images, defined as in docker-compose.sh
script:
- bash < build.sh
- docker-compose build

# if all thigs built correctly, deploy them to destination host, invoking a deploy.sh script
after_script:
- test $TRAVIS_BRANCH = "master" && echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
- test $TRAVIS_BRANCH = "master" && docker-compose push
- test $TRAVIS_BRANCH = "master" && cat deploy.sh | ssh -o StrictHostKeyChecking=no -i .ssh/id_rsa rso@brodzki.org

# don't send any notifications to me
notification:
- email: false
