version: "3"
services:
  ncat:
    build:
      context: ncat 
      dockerfile: Dockerfile
    image: arturbrodzki/rso:ncat
    volumes:
      - "/root/ssl:/app/ssl"
    deploy:
      replicas: 2
      restart_policy:
        condition: on-failure
    ports:
      - "80:80"
  s_server:
    build:
      context: s_server 
      dockerfile: Dockerfile
    image: arturbrodzki/rso:s_server
    volumes:
      - "/root/ssl:/app/ssl"
    deploy:
      replicas: 2
      restart_policy:
        condition: on-failure
    ports:
      - "443:443"
  msapp-app:
    image: msapp
    environment:
        - SPRING_PROFILES_ACTIVE=dev,no-liquibase,zuul,no-eureka
        - EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE=http://admin:$${jhipster.registry.password}@jhipster-registry:8761/eureka
        - JHIPSTER_REGISTRY_PASSWORD=admin  
        - JHIPSTER_SLEEP=2
    ports:
        - 8081:8081    
    deploy:
        replicas: 1                
  mygateway-app:
    image: mygateway
    environment:
        - SPRING_PROFILES_ACTIVE=dev,no-liquibase,zuul,no-eureka
        - EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE=http://admin:$${jhipster.registry.password}@jhipster-registry:8761/eureka
        - JHIPSTER_SLEEP=2
        - JHIPSTER_REGISTRY_PASSWORD=admin
    ports:
        - 8080:8080
    deploy:
        replicas: 1           
  myuaa-app:
    image: myuaa
    environment:
        - SPRING_PROFILES_ACTIVE=dev,no-liquibase,zuul,no-eureka
        - EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE=http://admin:$${jhipster.registry.password}@jhipster-registry:8761/eureka
        - JHIPSTER_SLEEP=2
        - JHIPSTER_REGISTRY_PASSWORD=admin    
    ports:
        - 9999:9999 
    deploy:
        replicas: 1       