<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>Zmiana hasła dla [<b>{{vm.account.username}}</b>]</h2>

            <div class="alert alert-success" ng-show="vm.success">
                <strong>Hasło zmienione!</strong>
            </div>
            <div class="alert alert-danger" ng-show="vm.error" >
                <strong>Wystąpił błąd!</strong> Hasło nie zostało zmienione
            </div>

            <div class="alert alert-danger" ng-show="vm.doNotMatch">
                Wpisane hasła nie zgadzają się!
            </div>

            <form name="form" role="form" novalidate ng-submit="vm.changePassword()" show-validation>

                <div class="form-group">
                    <label class="control-label" for="password">Nowe hasło</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Nowe hasło"
                           ng-model="vm.password" minlength=8 maxlength=50 required>
                    <div ng-show="form.password.$dirty && form.password.$invalid">
                        <p class="help-block"
                           ng-show="form.password.$error.required">
                            Twe hasło jest wymagane!
                        </p>
                        <p class="help-block"
                           ng-show="form.password.$error.minlength">
                            Twe hasło ma mieć co najmniej 8 znaów
                        </p>
                        <p class="help-block"
                           ng-show="form.password.$error.maxlength">
                            Twe hasło nie może być dłuższe niż 50 znaków
                        </p>
                    </div>
                    <password-strength-bar password-to-check="vm.password"></password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="control-label" for="confirmPassword">Potwierdź nowe hasło</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                           placeholder="Potwierdź nowe hasło"
                           ng-model="vm.confirmPassword" minlength=4 maxlength=50 required>
                    <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.required">
                            Twe hasło jest wymagane!
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.minlength">
                            Twe hasło ma mieć co najmniej 8 znaków
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.maxlength">
                            Twe hasło nie może być dłuższe niż 50 znaków
                        </p>
                    </div>
                </div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Zapisz</button>
            </form>
        </div>
    </div>
</div>
