<div ng-cloak>
    <div class="row">
        <div class="col-md-4">
            <span class="poland-img img-responsive img-rounded"></span>
        </div>
        <div class="col-md-8">
            <h1>Witaj w systemie do głosowania</h1>
            <p class="lead">Oto strona główna</p>

            <div ng-switch="vm.isAuthenticated()">
                <div class="alert alert-success" ng-switch-when="true">
                    Jesteś zalogowany jako użytkownik "{{vm.account.username}}".
                    Pełnisz rolę <b>{{vm.role}}</b>
                    <span ng-show="vm.municipality.municipality_name"> w gminię
                        <b>{{vm.municipality.municipality_name}}</b></span>
                    <span ng-show="vm.electoralDistrict.electoral_district_name"> i w okręgu <b>{{vm.electoralDistrict.electoral_district_name}}</b></span>
                </div>

                <div class="alert alert-warning" ng-switch-when="false">
                    Nie jesteś zalogowany. Zaloguj się jeśli możesz!
                </div>

                <p>Teraz trwa <b>{{vm.period.name}}</b></p>
                <p>Będzie on trwał jeszcze przez
                    <em><span  countdown='' date={{vm.period.endDate}}></span></em></p>
            </div>
        </div>
    </div>
    <div class="debug-border">
        <button ng-click="vm.changePeriod('PreElectionPeriod')">Zmień okres na Okres przedwyborczy</button><br/>
        <button ng-click="vm.changePeriod('FirstRoundPeriod')">Zmień okres na Okres pierwszej tury</button><br/>
        <button ng-click="vm.changePeriod('MidRoundPeriod')">Zmień okres na Okres międzyturowy</button><br/>
        <button ng-click="vm.changePeriod('SecondRoundPeriod')">Zmień okres na Okres drugiej tury</button><br/>
        <button ng-click="vm.changePeriod('PostElectionPeriod')">Zmień okres na Okres powyborczy</button>
    </div>
</div>
